<!-- About page -->
<!DOCTYPE html>
<html>
<body>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
            <div class="row text-center">

    <h3 class="display-4">About Me</h3>
  
<!-- personal details and site structure  -->
  
<style> 
body {
  background-image: url("https://i.postimg.cc/y6LrrW61/Screenshot-66.png");
  }
</style>
</div>
<div style=" display: flex;justify-content: center;align-items: center;">

<div class="card" style="width: 28rem;">
  <img class="card-img-top" height="159" src="/Assets/images/Tesmin.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">TESMINE POULOSE</h5>
    <p class="card-text">I'm currently pursuing Health informatics fast-track program and I’m interested in developing software.</p>
    <p class ="lead  pb-0 mb-1">Click here to read the Resume </p>
    <a href="/Assets/images/Resume.pdf" class="btn btn-primary">Go Resume</a>
    
  </div>
</div>

</div>

</body>
</html> 



