<!DOCTYPE html>
<html>
<body>

<div class='container-fluid mx-auto mt-5 mb-5 col-12' style="text-align: center">
<div class="container">
    <h3>OUR PROJECTS</h3>
    <div class="card-body">
    <div style=" display: flex;justify-content: center;align-items: center;">
    <div class="card" style="width: 20rem;">
    <img class="card-img-top" height="200"src="/Assets/images/project2.png" alt="Card image cap">
    <h5 class="card-title">Construction Plus</h5>
    <p class="card-text">An online site for construction procedureMainly deals with SQL, php </p>
    <p class="card-text">Role:Programmer.</p>
    </>
     </div>
    <div class="card-body">
    <div style=" display: flex;justify-content: center;align-items: center;">
    <div class="card" style="width: 20rem;">
    <img class="card-img-top" height="200"src="/Assets/images/project1.png" alt="Card image cap">
    <h5 class="card-title">AFTER SCHOOL CLUB</h5>
    <p class="card-text"> project based on club activities for children.</p>
    <p class="card-text">Role:Front End Designer</p>
     </div>
     </div>
</>
    <div class="card-body">
    <div style=" display: flex;justify-content: center;align-items: center;">
    <div class="card" style="width: 20rem;">
    <img class="card-img-top" height="200"src="/Assets/images/parish.png" alt="Card image cap">
    <h5 class="card-title">Parish Management System</h5>
    <p class="card-text">Project was based on visual basic and sql. It was an application to store the data of a parish</p>
    <p class="card-text">Role:Front End Designer</p>
     </div>


</div>
</div>
</body>
</html> 
