<!DOCTYPE html>
<html>
<body>

<div class="services-top">
        <div class="container bootstrap snippets bootdey">
            <div class="row text-center">
                <div class="col-sm-12 col-md-12 col-md-12">
                    <h2>What We Offer</h2>
                    <h2 style="font-size: 60px;line-height: 60px;margin-bottom: 20px;font-weight: 900;">Our Services</h2>
                    <p>Our <span class="highlight">experienced</span> and <span class="highlight">dedicated</span> staff provide these services with a smile.</p>
                </div>
            </div>

<div class="row" style="justify-content: center">
        <div class="card col-md-3 col-12">
            <div class="card-content">
               <div class="card-body"> <img class="img" src="https://i.postimg.cc/8sQxt0DF/Screenshot-70.png"/>
                    <div class="shadow"></div>
                    <div class="card-title"> Creative Web Design </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted">It is essential to have a great website design nowadays as so many people tend to shop and find services online. It is also very important to have a responsive website design as almost 50% of today's browsing is done on smartphones and tablets, I certainly use mine for browsing. If a customer navigates to your site and they have to pinch and zoom to be able to read and navigate, the chances are that they will move away to another site and you will almost certainly lose that customer.</small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-12 ml-2">
            <div class="card-content">
                <div class="card-body"> <img class="img" src="https://i.postimg.cc/PrJLjVWG/Screenshot-68.png" />
                    <div class="card-title">Responsive Design</div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted"> A well-developed website can convey trust and credibility, making people to buy from you, or support you. Whether you are a professional looking for a job, or an expert in your industry: you can show that to the whole world by having a custom responsive website. Here at System 22 we are proud of our website design skills, we are happy to offer our customers a free consultation and quote. All of our websites come with a 100% satisfaction guarantee and most projects are completed in about two weeks.
 </small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-12 ml-2">
            <div class="card-content">
                <div class="card-body"> <img class="img rck" src="
https://i.postimg.cc/8sQxt0DF/Screenshot-71.png" />
                    <div class="card-title">Bulit with HTML/CSS</div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted">We can customize your website design to the needs of your company or business, what ever your business, product or personal goals are we can design something for you. System 22 offers eCommerce, resume, product launch, corporate and business website design. Check out some of our many sites below. We can build using the popular CMS system Wordpress that you can administer yourself, of use the extremely fast loading Twitter Bootstrap framework, that we can administer for you.</small> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ft">
        <p class="chk"><small class="text-muted">Still not sure?</small></p>
        <div class="btn btn-primary">Read All Testimonials</div>
    </div>
</div>
</div>
</body>
</html> 